<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" />


    <title>Sample with Vue JS</title>
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>

<body>
    <div id="customersMainApp" v-cloak>
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-lg-6">
                        <div>
                            <input class="form-control" type="text" v-model="search" placeholder="Search" /><br>
                            <label for="cutomerCount"><strong>Total Customers:</strong> </label>
                            <span v-text="totalCount"></span>
                            <label for="cutomerCount"><strong>Customers Matched:</strong> </label>
                            <span v-text="matchCount"></span>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>CustomerName</th>
                                <th>EmailId</th>
                                <th>Users</th>
                                <th>Teams</th>
                                <th>Meeting</th>
                                <th>Forms</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="item in filteredCustomers" v-bind:key="item">
                                <td>{{item.customerName}}</a></td>
                                <td>{{item.emailId}}</td>
                                <td>{{item.users}}</td>
                                <td>{{item.teams}}</td>
                                <td>{{item.meeting}}</td>
                                <td>{{item.forms}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.1/vue.js"></script>

    <script>
        new Vue({
            el: '#customersMainApp',
            data() {
                return {
                    search: '',
                    customers: [
                        { customerName: "justin", emailId: "abc@gmail.com", users: 100, teams: 10001, meeting: 450, forms: 100 },
                        { customerName: "jesuraj", emailId: "def@gmail.com", users: 100, teams: 10001, meeting: 450, forms: 100 },
                        { customerName: "nancy", emailId: "ghi@gmail.com", users: 100, teams: 10001, meeting: 450, forms: 100 },
                        { customerName: "arun", emailId: "jkl@gmail.com", users: 100, teams: 10001, meeting: 450, forms: 100 },
                        { customerName: "jesujustin", emailId: "mnp@gmail.com", users: 100, teams: 10001, meeting: 450, forms: 100 },
                    ]
                };
            },

            computed: {
                totalCount() {
                    return this.customers.length;
                },

                matchCount() {
                    return this.filteredCustomers.length;
                },

                filteredCustomers() {
                    if (this.search != '') {
                        return this.customers.filter((item) => {                                                         
                            // return this.search.toLowerCase()
                            //     .split(' ')
                            //     .every(v => item.customerName.toLowerCase()
                            //         .includes(v))

                            return item.customerName.toLowerCase().includes(this.search.toLowerCase()) 
                            | item.emailId.toLowerCase().includes(this.search.toLowerCase());
                        });
                    }
                    else {
                        return this.customers;
                    }
                }
            }
        })
    </script>

</body>

</html>