<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" />


    <title>TODO</title>
    <style>
        [v-cloak] {
            display: none;
        }
        table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
        }

        td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
        }

        tr:nth-child(even) {
        background-color: #dddddd;
        }
    </style>
</head>

<body>

   <h3 style="text-align: center;">TODO LIST</h3>
    <div id="TodoMain" v-cloak>
        <div class="col-lg-4">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            <label for="Todo">TODO List</label><br>
                            <input type="text" placeholder="Todolist" v-model="todo">
                            <button class="btn btn-primary" v-on:click="AddToDo">Add</button>
                        </th>
                    </tr>
                    <tr>
                        <th style="background-color:darkgrey;">TODO-LIST</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(todo,index) in todos">
                        <td>
                            {{todo}}
                            <button class="btn btn-success" v-on:click="ToDoDelete(todo,index)">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <label for="complete">Items to complete today:
                <span v-text="todoCount"></span>
            </label>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.1/vue.js"></script>

    <script>
        

        var app = new Vue({
            el: '#TodoMain',
            data: {
                todo:'',
                todos: [],
            },
            methods: {
                AddToDo: function () {
                    this.todos.push(this.todo);
                    this.todo='';

                },
                ToDoDelete: function (value,index) {
                    var index1=this.todos.indexOf(value);
                    this.todos.splice(index1,1)
                },
            },
            computed:{
                    todoCount(){
                       return this.todos.length
                    }
            },
        })
    </script>
</body>

</html>