<html>
<head>
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" />
</head>
<body>
    <div id="app" class="slider">
        <h2 class="text-center">Image Slider</h2>
            <div v-for="slide in [currentIndex]" :key='slide'>
                <img :src="currentImage" style="width: 200px;height: 500px;">
            </div>
        <div v-for="(slide,i) in imageSlides" v-on:click="selectSlide(i)" v-html="i==currentIndex? '&#9679;' : '&omicron;'">

        </div>
    </div>

</body>

</html>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.1/vue.js"></script>

    
    
<script>

     new Vue({
        el: '#app',
        data: {
            imageSlides: [
                'https://www.whatmobile.com.pk/admin/images/Xiaomi/XiaomiRedmi5plus-b.gif',
                'https://cdn2.gsmarena.com/vv/bigpic/oneplus-5.jpg',
                'https://www.91-img.com/pictures/111500-v2-xiaomi-redmi-note-5-mobile-phone-large-1.jpg',
                'https://www.91-img.com/pictures/121716-v2-honor-7x-mobile-phone-large-1.jpg',
                'https://ss7.vzw.com/is/image/VerizonWireless/iPhoneX-Svr?$png8alpha256$&hei=410',
            ],
            currentIndex: 0,
            width: 800,
            timer: 0,
        },
        methods: {
            nextSlide: function () {
                this.currentIndex++;
                if (this.currentIndex >= this.imageSlides.length)
                    this.currentIndex = 0;
                this.resetPlay();
            },

            selectSlide: function (i) {
                this.currentIndex = i;
                this.resetPlay();
            },
            resetPlay: function () {
                clearInterval(this.timer);
                this.play();
            },
            play: function () {
                var app = this;
                this.timer = setInterval(function () {
                    app.nextSlide();
                }, 5000);
            }
        },
        computed: {
            currentImage: function () {
                return this.imageSlides[Math.abs(this.currentIndex) % this.imageSlides.length];
            }
        },
        created: function () {
            this.play();
        }
    });       

</script>