<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" 
          href="https://stackpath.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
</head>
<style>
        [v-cloak] {
            display: none;
        }
        .box{
            background-color: lightgrey;
            width: 800px;
            border: 5px solid rgb(119, 117, 221);
            padding: 50px;
            margin: 20px;
        }
        .messagebox{
            background-color: lightgrey;
            width: 200px !important;
            border: 5px solid rgb(119, 117, 221);
            padding: 10px;
            
        }

        .emaildata{
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .emaildata:hover{
            overflow: visible;
        }
        .badge{
            background-color: green !important;
        }
</style>

<body>
    <div>
      <h3 class="text-center">Email Mocker</h3>
    </div>
    <div class="row" id="vueApp" v-cloak>
        <div class="box">
            
            <div class="messagebox emaildata" v-for="(values,index) in stringArray.slice().reverse()" :key="index" @click="change(values,index)">
                {{values.Name}}
                <span class="badge badge-success">{{badge1}}</span>
            </div>
            <div class="pull-right">
                <textarea name="" id="" cols="10" rows="1" v-model="selectedValue.Name" style="width: 400px;height: 100px;margin-top: -50px;"></textarea>
            </div>
        </div>
        <div class="box">
            <textarea name="" id="" cols="100" rows="10" v-model="inputValue"></textarea><br>
            <br><div class="d-flex justify-content-center mt-4">
                <button @click="cancel()" class="btn btn-danger">Discard</button>
                <button class="btn btn-success" @click="createArray()">Send</button>
            </div>
        </div>
    </div>
</body>
</html>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.1/vue.js"></script>


<script>
    var app = new Vue({
        el: '#vueApp',
        data:{
            inputValue: "",
            stringArray: [],
            badge1:'New',
            selectedValue:''
        },
        methods: {
            createArray() {
                if (this.inputValue !== "") {
                    var item=this;
                    item.stringArray.push({Name:this.inputValue});
                    this.inputValue=''
                }
            },
            cancel(){
                this.inputValue='';
                this.stringArray='';
            },
            change(values,index){
                this.selectedValue = values;
            },
        },
        
    });
</script>