<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vue js Assignments</title>

    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" />

</head>
<style>
    [v-cloak] {
        display: none;
    }
</style>

<body>
    <div class="container">
        <h3 class="text-primary text-center">Place Selector</h3>
    </div>
    <div id="vueApp" v-cloak style="width: 100%; height: 200px;">
        <form action="">
            <div class="col-lg-4">
                <label for="">Country:</label>
                <select v-model="country">
                    <option value=""> Select </option>
                    <option value="India">India</option>
                    <option value="USA">USA</option>
                    <option value="Jerman">Jerman</option>
                    <option value="Australia">Australia</option>
                    <option value="Africa">South Africa</option>
                </select>
                <br>
                <label for="">State:</label>
                <select v-model="state">
                    <option value=""> Select </option>
                    <option value="TamilNadu">Tamil Nadu</option>
                    <option value="Karnataka">Karnataka</option>
                    <option value="Kerala">Kerala</option>
                    <option value="Mumbai">Mumbai</option>
                    <option value="Delhi">Delhi</option>
                </select>
                <br>
                <label for="">City:</label>
                <select v-model="city">
                    <option value=""> Select </option>
                    <option value="Chennai">Chennai</option>
                    <option value="Thirunelveli">Thirunelveli</option>
                    <option value="Tenkasi">Tenkasi</option>
                    <option value="Madurai">Madurai</option>
                    <option value="Trichy">Trichy</option>
                </select>

            </div>
            <button class="btn btn-secondary" v-on:click="setDefault()">Set Default</button>
            <button class="btn btn-success" v-on:click.prevent="showAnswer = true">Submit</button>
        </form>
        <!-- <h4>Selected Place:<{{country}}><{{state}}><{{city}}></h4> -->
        <h4>Selected Place: <span v-show="showAnswer">{{formattedLocation}}</span></h4>
    </div>
</body>

</html>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.1/vue.js"></script>

<script>
    new Vue({
        el: '#vueApp',
        data: {
            country:'',
            state: '',
            city: '',
            showAnswer: false,
        },
        methods: {
            setDefault(){
                this.country='';
                this.state='';
                this.city='';
            },
        },
        computed: {
            formattedLocation: function () {
                return `< ${this.country} > < ${this.state}>  < ${this.city}>`;
            }
        },
        watch:{
            country: function(){
                this.showAnswer = false;
            },
            state: function(){
                this.showAnswer = false;
            },
            city: function(){
                this.showAnswer = false;
            },
        }
    });
</script>