<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Assignments</title>
    <link rel="stylesheet" 
          href="https://stackpath.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
</head>
<style>
    .box{
        width: 320px;
        padding: 10px;
        border: 5px solid gray;
        margin:0;
    }
    .row{
        margin: 10px;
    }
</style>
<body>
    <div id="vueApp">
    <div class="container">
        <h3 class="text-primary text-center"> Order Item</h3>
    </div>
    <div class="row" >
            <div class="box">
                <label for="dragonChicken">Dragon Chicken</label>
                <button class="btn btn-primary pull-right" v-on:click="drgchkncount +=1">Add</button>
                <br><strong style="color:rgb(36, 5, 212)">Rs{{dragonChicken}}</strong>
                <p>dragon Chicken [{{drgchkncount}}]</p> 
            </div><br>
            <div class="box">
                <label for="chicken65">Chicken 65</label>
                <button class="btn btn-primary pull-right" v-on:click="chknCount +=1">Add</button>
                <br><strong style="color: rgb(36, 5, 212)">Rs:{{chicken65}} </strong> 
                <p>Chicken65 [{{chknCount}}]</p>             
            </div><br>
            <div class="box">
                <label for="chickenLollipop">Chicken Lollipop</label>
                <button class="btn btn-primary pull-right" v-on:click="chknlpCount +=1">Add</button>
                <br><strong style="color: rgb(36, 5, 212)">Rs:{{chickenLollipop}} </strong>  
                <p>Chicken Lollipop [{{chknlpCount}}]</p>             
            </div><br>
            <div class="box">
                <label for="balckPeperChicken">Black Peper Chicken</label>
                <button class="btn btn-primary pull-right" v-on:click="blkPepCount +=1">Add</button>
                <br><strong style="color: rgb(36, 5, 212)">Rs:{{balckPeperChicken}}</strong>  
                <p>peper Chicken [{{blkPepCount}}]</p>           
            </div><br>
            <button class="btn btn-secondary" v-on:click="clear">Clear order</button>
            <button class="btn btn-success" v-on:click="placeOrder">Place Order</button>
    </div>
    <form>
    <div class="box row">
        <label for="">Item Total Amount</label><strong class="pull-right">Rs:{{totalAmount}}</strong><br>
        <label for="">Discount(5% of items Total Amount)</label><strong class="pull-right">Rs:{{discount}}</strong><br>
        <label for="">Delivery Charges(Flat Rs20)</label><strong class="pull-right">Rs:{{deliveryCharge}}</strong><br>
        <label for="">Amount To Be Paid</label><strong class="pull-right" style="color: red;">Rs:{{amountToPaid}}</strong>
    </div>
</div>
</body>
</html>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.1/vue.js"></script>

<script>
    new Vue({
            el: '#vueApp',
             data:{
                     dragonChicken:300, 
                     chicken65:250,
                     chickenLollipop:280, 
                     balckPeperChicken:350,
                     deliveryCharge:20,
                     totalAmount:'',
                     discount:'',
                     amountToPaid:'',
                     blkPepCount:0,
                     chknlpCount:0,
                     chknCount:0,
                     drgchkncount:0,
                },
                methods:{
                    placeOrder(){
                        blkPepCount=this.blkPepCount;
                        chknlpCount=this.chknlpCount;
                        chknCount=this.chknCount;
                        drgchkncount=this.drgchkncount;
                        this.totalAmount=(blkPepCount*350)+(chknlpCount*280)+(chknCount*250)+(drgchkncount*300);
                        this.discount=(this.totalAmount/100)*5;
                        this.amountToPaid=(this.totalAmount-this.discount)+this.deliveryCharge;
                    },
                    clear(){
                        this.blkPepCount='';
                        this.chknCount='';
                        this.chknlpCount='';
                        this.drgchkncount='';
                        this.totalAmount='';
                        this.discount='';
                        this.amountToPaid='';
                    },
                },
         });
</script>