<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" 
          href="https://stackpath.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
</head>
<style>
    [v-cloak] {
        display: none;
    }
    .box{
        background-color: lightgrey;
        width: 400px;
        border: 5px solid rgb(119, 117, 221);
        padding: 50px;
        margin: 20px;
    }
    .listbox{
        background-color: rgba(236, 165, 83, 0.959);
        width: 200px;
        border: 5px solid white;
        padding: 15px;
        border-radius: 10px;
    }
    input[type=text], select, textarea {
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: vertical;
    }
    </style>
<body>
    <div>
        <h3 class="text-center">Manage Categories</h3>
    </div>
    <div id="vueApp" v-cloak>
        <div class="row" style="margin-left: 10px;">
            <button class="btn btn-primary" @click="addCat()"><i class="fa fa-plus"></i>Add</button>
            <button class="btn btn-success" @click="editCat()"><i class="fa fa-edit"></i>Edit</button>
            <button class="btn btn-danger" @click="deleteCat()"><i class="fa fa-trash-o"></i>Delete</button>
        </div>
        <div v-if="isAdd">
            <div class="box">
                <input type="text" v-model="inCategory"><br>
                <br><button class="btn btn-success" @click="saveCat()">SaveCategory</button>
                <button class="btn btn-danger" @click="cancleCat()">Cancle</button>
            </div>
        </div>
        <div v-if="isEdit">
            <div class="box">
                <input type="text" v-model="selectedCategory.category"><br>
                <br><button class="btn btn-success" @click="categoryEdit()">EditCategory</button>
                <button class="btn btn-danger" @click="cancleCat()">Cancle</button>
            </div>
        </div>
        <div v-if="isDelete">
            <div class="box">
                <input type="text" v-model="selectedCategory.category"><br>
                <br><button class="btn btn-success" @click="deteteCat()">DeleteCategory</button>
                <button class="btn btn-danger" @click="cancleCat()">Cancle</button>
            </div>
        </div>
        <div class="row listbox" style="margin-left: 10px;" v-for="values in saveCategory" @click="select(values)">
            {{values.category}}
        </div>
    </div>
</body>
</html>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.1/vue.js"></script>

<script>
     var app = new Vue({
        el: '#vueApp',
        data:{
            inCategory:'',
            saveCategory:[],
            isAdd:false,
            isEdit:false,
            isDelete:false,
            selectedCategory:'',
        },
        methods:{
            addCat(){
                this.isAdd=true;
                this.isEdit=false;
                this.isDelete=false;
            },

            editCat(){
                this.isEdit=true;
                this.isAdd=false;
                this.isDelete=false;
            },

            deleteCat(){
                this.isDelete=true;
                this.isAdd=false;
                this.isEdit=false;
            },

            saveCat(){
                if (this.inCategory !== "") {
                    var item=this;
                    item.saveCategory.push({category:this.inCategory});
                    this.inCategory=''
                }
            },
            cancleCat(){
                this.inCategory='';
                this.saveCategory='';
                this.isAdd=false;
                this.isEdit=false;
                this.isDelete=false;
            },
            select(values){
                this.selectedCategory=values;
            },
            deteteCat(){
                
            }
            
        },
     });
</script>