<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Training</title>
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" />
</head>
<style>
    .row {
        margin: 10px;
    }

    #Depreciation {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
        /* display: none; */
    }

    #Depreciation td,
    #Depreciation th {
        border: 1px solid #ddd;
        padding: 8px;
    }

    #Depreciation tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    #Depreciation tr:hover {
        background-color: #ddd;
    }

    #Depreciation th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #1068ec;
        color: white;
    }

    input {
        margin: 5px;
    }
</style>

<body>
    <div class="container">
        <h3 class="text-primary text-center">Depreciation</h3>
    </div>
    <div class="row" id="vueApp">
        <div class="col-xs-6">
            <form action="">
                <label for="firstName">Product Name :</label>
                <input type="text" placeholder="Please enter Product Name" v-model="productName"><br>
                <label for="firstName">Initial Price:</label>
                <input type="text" placeholder="Please enter Initial Price" v-model="intialPrice"><br>
                <label for="firstName">No Of Years:</label>
                <input type="text" placeholder="Please enter No Of Years" v-model="totalYears"><br>
                <label for="firstName">Annual Depreciation value:</label>
                <input type="text" placeholder="Please enterScrap value" v-model="depreciationAmount"><br>
                <button type="button" class="btn btn-success" v-on:click="calculate_Depreciation()">Submit</button>
            </form>
        </div>
        <table id="Depreciation" v-if="issubmit">
            <tr>
                <th>Year</th>
                <th>Price</th>
                <th>Depreciation</th>
                <th>Value at EOY</th>
            </tr>
            <tr v-for="schedule in amortizationSchedule">
                <td>{{schedule.year}}</td>
                <td>{{schedule.price}}</td>
                <td>{{schedule.depreciation}}</td>
                <td>{{schedule.valueAtEOY}}</td>
            </tr>
        </table>
    </div>
</body>

</html>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.1/vue.js"></script>

<script>
    new Vue({
        el: '#vueApp',
        data: {
            amortizationSchedule: [],
            productName: '',
            intialPrice: '',
            totalYears: '',
            depreciationAmount: '',
            finalBalance: 0,  
            depreciation: '',
            issubmit:false,     
        },
        methods:{
            calculate_Depreciation: function () {
                this.issubmit=true;
                this.amortizationSchedule = [];
                this.finalBalance = this.intialPrice;
                while (this.finalBalance > 0) {
                    var newYear = this.depreciate(this.finalBalance, this.amortizationSchedule.length + 1, this.depreciationAmount);
                    this.amortizationSchedule.push(newYear);
                }
            },
            depreciate(startingValue, year, depreciationAmount) {
                this.finalBalance = startingValue - depreciationAmount;
                return {
                    year: year,
                    price: startingValue,
                    depreciation: depreciationAmount,
                    valueAtEOY: this.finalBalance
                }
            },
        },
    });
</script>