<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue js Training</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" />
</head>
<style>
    .dot{
            height: 50px;
            width: 50px;
            background-color: rgb(54, 13, 235);
            border-radius: 50%; 
            display: inline-block;
        }
        .row{
            margin: 10px;
        }
</style>
<body>
    <div>
        <div class="container">
            <h3 class="text-success text-center">change the size of the balloon</h3>
        </div>
        <div id="vueApp" v-cloak>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-lg-6">
                            <input type="range" min="10" max="150" v-model="size"><br>
                            <span class="dot" :style="`width:${size}px;height:${size}px`"></span>  
                            <p :style="`${size}px`"><strong>[{{size}}]px</strong></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.1/vue.js"></script>
<script>
    new Vue({
                el: '#vueApp',
                data: {
                   size:50 ,
                },

            });
</script>