<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Training</title>

    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" />
</head>

<style>
    [v-cloak] {
        display: none;
    }

</style>

<body>
    <div class="container">
        <h3 class="text-primary text-center">URL-Breakers</h3>
    </div>
    <div id="vueApp" v-cloak style="width: 100%; height: 200px;">
        <div class="col-lg-6">
            <label for="firstName">Enter Url</label>
            <input class="form-control" type="text" placeholder="Please enter your url..." v-model="url">
        </div><br>
        <div class="col-lg-6">
            <button class="btn btn-primary" v-on:click="displayParts(url)">Display Parts</button>
            <button class="btn btn-primary" v-on:click="clearUrl(url)">Clear</button>
            <button class="btn btn-primary" v-on:click="goToUrl(url)">Goto url</button>
        </div> <br>        
            <div class="col-lg-6">
                <h3>Protocal:{{protocal}}</h3>
                <h3>Domain Name:{{hostname}}</h3>
                <h3>Sub-Domain:{{host}}</h3>
                <h3>Port Number:{{port}}</h3>
                <h3>Path:{{pathname}}</h3>
                <h3>Query:{{search}}</h3>
                <h3>Anchor:{{hash}}</h3>
            </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.1/vue.js"></script>

    <script>
        $(document).ready(function () {
            new Vue({
                el: '#vueApp',
                data: {
                    url:'',
                    protocal:'',
                    hostname:'',
                    port:'',
                    pathname:'',
                    search:'',
                    hash:'',
                    host:'',
                },
                methods: {
                    displayParts: function (url) {
                        let myUrl = url;
                        let parser = document.createElement('a');
                        parser.href = myUrl;
                        this.protocal = parser.protocol; 
                        this.hostname = parser.hostname; 
                        this.port=parser.port;     
                        this.pathname=parser.pathname; 
                        this.search=parser.search;   
                        this.hash=parser.hash;     
                        this.host=parser.host;  
                        this.url='';   
                    },
                    clearUrl:function(url){
                        this.url='';
                    },
                    goToUrl:function(url){
                        window.open(url);
                    }
                },
            });

        });
    </script>
</body>
</html>