<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" />

    <title>Vue JS workshop</title>
</head>

<body style="margin-top: 30px;">
    <style>
        [v-cloak] {
            display: none;
        }

        .p-5 {
            padding: 5px;
        }

        .p-10 {
            padding: 10px;
        }

        .m-10 {
            margin: 10px;
        }

        .greyBox {
            width: 100px;
            height: 20px;
            border-color: grey;
            border-radius: 5px;
            border: 1px solid;
            margin: 2px;
            padding: 0 5px;
        }
        input[type=text], select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        }

        input[type=submit]:hover {
        background-color: #45a049;
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
        }
        .pull-left {
            margin-right: 100px;
        }
    </style>

    <div class="container">
        <h3 class="text-primary text-center">Vue JS Training</h3>
        
        <div class="row" id="vueApp" v-cloak>
            <div class="col-xs-12">
                <div>
                    <div>
                        <div class="row">
                            <div class="col-xs-6">
                                <div style="border-radius: 5px;background-color: #f2f2f2;padding: 20px;">
                                <form class="needs-validation form-horizontal" novalidate="" >
                                    <div class="form-group">
                                        <div class="col-xs-6">
                                            <label for="firstName">First name</label>
                                            <input class="form-control" required="" type="text" placeholder="" value=""
                                                v-model="person.firstName">
                                        </div>

                                        <div class="col-xs-6">
                                            <label for="firstName">Last name</label>
                                            <input class="form-control" required="" type="text" placeholder="" value=""
                                                v-model="person.lastName">
                                        </div>

                                        <div class="col-xs-6">
                                            <label for="Email">Email Address</label>
                                            <input class="form-control" required="" type="text" placeholder="" value=""
                                                v-model="person.EmailAddress">
                                        </div>
                                    </div>
                                </form>
                            </div><br>
                            
                                <div class="col-xs-6">
                                    <pre style="border: 2px solid #b8bcbe; padding: 5px; color: rgb(17, 17, 153);">           
                                        <div class="col-xs-6 pull-left" >
                                            <img src="Noimg.jpg">                                     
                                            <div v-for="value in person">
                                                {{value}}
                                            </div> 
                                        </div>
                                    </pre>            
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.1/vue.js"></script>

    <script>
        $(document).ready(function () {
            new Vue({
                el: '#vueApp',
                data: {
                    person: {
                        firstName: '',
                        lastName: '',
                        EmailAddress: '',
                    }
                },
            });

        });

    </script>
</body>

</html>