<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vue js Assignments</title>

    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" />

</head>
<style>
    [v-cloak] {
        display: none;
    }

</style>
<body>
    <div class="container">
        <h3 class="text-primary text-center">Tip Calculator</h3>
    </div>
    <div id="vueApp" v-cloak style="width: 100%; height: 200px;">
        <div class="col-lg-4">
            <label for="your bill">How much was your bill?</label>
            <input class="form-control" type="text" v-model.number="bill">
            <label for="service">How was your Service?</label><br>
            <select class="dropdown" v-model="select">
                <option value=""><label>- Select -</label></option>
                <option value="30">OutStanding 30%</option>
                <option value="20">Good 20%</option>
                <option value="15">It was Ok 15%</option>
                <option value="10">Bad 10%</option>
                <option value="5">Terrible 5%</option>
             </select><br>
            <label for="many people">How many people are sharing the bill?</label>
            <input class="form-control" type="text"  v-model.number="peopleSharing">
        </div><br>
        <div class="col-lg-6">
            <button class="btn btn-success" v-on:click="calculate()">Calculate</button>
        </div> <br>
        <div>
            <label for="Total bill"><strong>Tip Amount:$</strong>{{Tim_Amount}}</label>
        </div>        
    </div>
</body>
</html>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.1/vue.js"></script>

<script>
    new Vue({
                el: '#vueApp',
                data: {
                 bill:'',
                 select:'',
                 peopleSharing:'',
                 Tim_Amount:'',
                },
                methods:{
                    calculate(){
                        billAmount=this.bill;
                        service=this.select;
                        servicePercentage=(service/100);
                        numberOfPeople=this.peopleSharing;
                        this.Tim_Amount=(billAmount*servicePercentage)/numberOfPeople;

                    }
                },
            });
</script>