<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" />

    <title>Vue JS Assignments</title>
</head>

<body style="margin-top: 30px;">
    <style>
        [v-cloak] {
            display: none;
        }

        .White{
            background-color: white;
        }
        .Red{
            background-color: red;
        }
        .Yellow{
            background-color: yellow;
        }
        .Green{
            background-color:green;
        }
        .Blue{
            background-color:blue;
        }

    </style>

    <div class="container">
        <h3 class="text-primary text-center">Color-Me</h3>
    </div>
    <div id="vueApp" v-cloak style="width: 100%; height: 200px;">
        <div class="col-lg-12">
                <div class="col-lg-6">
                    <select class="col-lg-6" multiple="multiple">
                       <option v-for="color in colors" v-bind:key="color" v-on:click="choosenColor(color)" >{{color}}</option> 
                    </select> 
                </div><br>     
                <div class="col-lg-6">
                    <textarea  rows="4" cols="50" v-bind:class="choosedColor"></textarea>
                </div>           
        </div>
    </div>

     <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.1/vue.js"></script>
</body>
    <script>
        $(document).ready(function () {
                new Vue({
                        el: '#vueApp',
                        data:{
                            choosedColor:'',
                            colors:[
                                "White",
                                "Red",
                                "Yellow",
                                "Green",
                                "Blue",
                            ],
                            
                        },
                        methods:{
                            choosenColor(color){
                                this.choosedColor=color;
                            },
                        },
                });
            });
    </script>